<div class="header">
  <h1>Online Examination System</h1>
</div>
<div class="topnav">
  <ul>
    <li><a [routerLink]="['/homeLink']">Home</a></li>
    <li><a [routerLink]="['/userLoginLink']">User</a></li>
    <li><a [routerLink]="['/adminLoginLink']">Admin</a></li>
    <li> 
    <img
       src="D:\\Angular online exam\\simplebackground.jpg"
        style="float: right; padding-right: 20px; height: 50px"
      />
    </li> 
  </ul>
</div>
<div class="row">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="footer">
  <p>GOOD LUCK!!</p>
</div> -->