<div class="card">
    <h2 style="text-align: center;">Register to explore amazing career opportunities</h2>
<form>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname"> <br/> <br/>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw"> <br/> <br/>
  
      <label for="email"><b>Email Address</b></label>
      <input type="email" placeholder="Enter Email Address" name="email"> <br/> <br/>
  
      <label for="city"><b>City</b></label>
      <input type="text" placeholder="Enter City" name="city"> <br/> <br/>
  
      <label for="mobile"><b>Mobile No.</b></label>
      <input type="tel" placeholder="Enter Mobile Number" name="mobile"> <br/> <br/>

      <button type="submit">Register</button>
      <button type="reset">Reset</button>
    </div>
  </form>
</div>
